{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<title>Reservations installations sportives IMT Atlantique</title>
{% endblock %}

{% block body %}
<header>
    <h1>Réservation des installations sportives</h1>
</header>
<div class="hero">
    <div class="row"> <!-- Open a row for the columns -->
        <div class="col-md-4">
            <!-- Login Box -->
            <div class="login-box">
                <h2>Login</h2>
                <!-- Only render this part if 'login_form' is passed to the template -->
                {% if login_form %}
                <form method="POST" action="{{ url_for('login') }}">
                    {{ login_form.hidden_tag() }}
                    <div class="form-group">
                        {{ login_form.username.label }}
                        {{ login_form.username(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ login_form.password.label }}
                        {{ login_form.password(class="form-control") }}
                    </div>
                    <div>
                        {{ login_form.submit(class="btn btn-primary") }}
                    </div>
                    <div class="register-link">
                        <a href="{{ url_for('register') }}">Register</a>
                    </div>
                </form>
                {% else %}
                    <p>Veuillez vous connecter pour acceder au site.</p>
                {% endif %}
            </div>
        </div> <!-- Close the column for the login box -->
        <div class="col-md-8"> <!-- Open the column for the call-to-action -->
            <div class="call-to-action">
                <h2>Bienvenue dans votre nouveau site de réservations à l'IMT Atlantique</h2>
            </div>
        </div> <!-- Close the column for the call-to-action -->
    </div> <!-- Close the row -->
</div>
{% endblock %}



